@model List<docker.net.core.test.Models.DockerCommand>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Docker Commands</h1>
<br />
<br />
@foreach (var dockerCommand in Model)
{

    <h2>@dockerCommand.Name Command</h2>
    @dockerCommand.Description
    <br />
    <br />
}